<div id='viewport'>
  <!-- Content -->
  <div id='content'>
    <div class='container-fluid'>
      <div class='row'>
        <h3 class='text-center'><%= @gallery.name %></h3>
      </div>
      <%# <div class='row row-cols-1 row-cols-md-2 row-cols-lg-3'> %>
      <div class='row row-cols-auto'>
        <%= render partial: 'photos' %>
      </div>
    </div>
  </div>
</div>
