<div id='viewport'>
  <!-- Content -->
  <div id='content'>
    <div class='container-fluid'>
      <div class='row'>
        <h3 class='text-center'><%= @gallery.name %></h3>
      </div>
      <div class='row'>
        <%= render partial: 'photos' %>
      </div>
    </div>
  </div>
</div>
