<div id='viewport'>
  <!-- Content -->
  <div id='content'>
    <div class='container-fluid'>
      <div class='row row-cols-auto'>
        <%= render partial: 'galleries' %>
      </div>
    </div>
  </div>
</div>
